<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Wikipedia viewer</title>
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"
        type="text/css" />
    <!-- main stylesheet -->
    <link rel="stylesheet" href="css/master.css" type="text/css" />

</head>

<body class="grey lighten-5">

    <div class="section container">

        <div class="section center">
            <img src="images/wikipedia_logo.png" alt="wikipedia logo" class="responsive-img"
            />
        </div>
        <form class="center" id="search-form">
            <div class="input-field col s12 m12 l12 section">
                <i class="material-icons prefix">search</i>
                <input id="search-input" type="text" required>
                <label for="search-input">Search Wikipedia</label>
                <a class="waves-effect waves-light btn pink darken-1 grey-text text-lighten-5"
                    id="search-btn"><i class="material-icons left">search</i>Search</a>
                <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" class="waves-effect waves-light btn purple darken-4 grey-text text-lighten-5"
                    id="random-btn"><i class="material-icons left">replay</i>Random</a>
            </div>
        </form>
    </div>
    <script type="text/template" id="results-template">
        <ul class="collection">
            <% _.each(results, function (result) { %>
                <li class="collection-item avatar">
                    <img src="images/pikachu.png" alt="" class="circle" />
                    <h2><%= result.title %></h2>
                    <p>
                        <%= result.extract %>
                    </p>
                    <!-- <a href="#" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
                <% }) %>
        </ul>
    </script>

    <div class="section container results-container">
    </div>


    <!-- jquery script -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!-- underscore.js -->
    <script src="js/underscore-min.js"></script>
    <!-- materialize.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- main app -->
    <script src="js/app.js"></script>
</body>

</html>
